# Arquivos de build do Maven (Necessários apenas os binários, não a pasta inteira)
**/target/
!.mvn/wrapper/maven-wrapper.jar

# Configurações locais do Maven wrapper
.mvn/wrapper/

# Ignorar arquivos de dados locais que sua API possa gerar
.data/

# SISTEMAS OPERACIONAIS
.DS_Store
Thumbs.db

# TOOLS & IDES
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


